smart-energy-finance/flows.json
[{"id":"2fa9c6aa6d3a4d42","type":"tab","label":"Smart Energy Finance","disabled":false,"info":""},{"id":"c0ed66ec5e7f8507","type":"tab","label":"SEF Discovery","disabled":false,"info":""},{"id":"c9f57020ea7258ca","type":"tab","label":"SEF Premium","disabled":false,"info":""},{"id":"1f0153acfb2b7b84","type":"tab","label":"dashboard prenium","disabled":false,"info":"","env":[]},{"id":"mqtt_broker_main","type":"mqtt-broker","name":"HA MQTT Broker","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"smart_energy_finance/availability","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"smart_energy_finance/availability","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"smart_energy_finance/availability","willQos":"0","willRetain":"true","willPayload":"offline","userProps":"","sessionExpiry":""},{"id":"f78826da8f6ce6d2","type":"inject","z":"2fa9c6aa6d3a4d42","name":"Startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"5","x":90,"y":100,"wires":[["b564c4b525088d28"]]},{"id":"c558067175699e9a","type":"inject","z":"2fa9c6aa6d3a4d42","name":"Loop 20s","props":[],"repeat":"20","crontab":"","once":false,"onceDelay":"","x":90,"y":160,"wires":[["b564c4b525088d28"]]},{"id":"b564c4b525088d28","type":"function","z":"2fa9c6aa6d3a4d42","name":"Prepare + Read Config","func":"const tz = env.get(\"ADDON_TIMEZONE\") || \"UTC\";\nconst contractType = String(env.get(\"CONTRACT_TYPE\") || \"fixed\").trim();\nconst currency = String(env.get(\"CURRENCY\") || \"EUR\").trim();\nconst mqttPrefix = String(env.get(\"MQTT_PREFIX\") || \"smart_energy_finance\").trim() || \"smart_energy_finance\";\nconst lang = String(env.get(\"DASHBOARD_LANGUAGE\") || \"en\").trim().toLowerCase();\n\nconst dashboardCustomCardsInstalled = String(env.get(\"DASHBOARD_CUSTOM_CARDS_INSTALLED\") || \"false\") === \"true\";\nconst premiumKey = String(env.get(\"SMART_ENERGY_FINANCE_PREMIUM_KEY\") || env.get(\"PREMIUM_KEY\") || \"\").trim();\nconst premiumKeyConfigured = premiumKey.length > 0;\n\nglobal.set(\"config.dashboardLanguage\", lang === \"fr\" ? \"fr\" : \"en\");\nglobal.set(\"dashboard.language\", lang === \"fr\" ? \"fr\" : \"en\");\nglobal.set(\"config.dashboardCustomCardsInstalled\", dashboardCustomCardsInstalled);\nglobal.set(\"dashboard.custom_cards_installed\", dashboardCustomCardsInstalled);\nglobal.set(\"premium.key\", premiumKey);\nglobal.set(\"premium.key_configured\", premiumKeyConfigured);\nif (global.get(\"premium.active\") === undefined) global.set(\"premium.active\", false);\nif (!global.get(\"premium.status\")) global.set(\"premium.status\", premiumKeyConfigured ? \"pending_validation\" : \"missing_key\");\nif (global.get(\"premium.tier\") === undefined) global.set(\"premium.tier\", null);\n\nmsg.cfg = {\n    tz,\n    contractType,\n    currency,\n    mqttPrefix,\n    lang,\n    monthlySubscriptionPrice: Number(env.get(\"MONTHLY_SUBSCRIPTION_PRICE\") || 0),\n    fixedImportPrice: Number(env.get(\"FIXED_IMPORT_PRICE\") || 0),\n    fixedExportPrice: Number(env.get(\"FIXED_EXPORT_PRICE\") || 0),\n\n    tariff1: { name: String(env.get(\"TARIFF_1_NAME\") || \"\").trim(), price: Number(env.get(\"TARIFF_1_PRICE\") || 0), start: String(env.get(\"TARIFF_1_START\") || \"\").trim(), end: String(env.get(\"TARIFF_1_END\") || \"\").trim() },\n    tariff2: { name: String(env.get(\"TARIFF_2_NAME\") || \"\").trim(), price: Number(env.get(\"TARIFF_2_PRICE\") || 0), start: String(env.get(\"TARIFF_2_START\") || \"\").trim(), end: String(env.get(\"TARIFF_2_END\") || \"\").trim() },\n    tariff3: { name: String(env.get(\"TARIFF_3_NAME\") || \"\").trim(), price: Number(env.get(\"TARIFF_3_PRICE\") || 0), start: String(env.get(\"TARIFF_3_START\") || \"\").trim(), end: String(env.get(\"TARIFF_3_END\") || \"\").trim() },\n    tariff4: { name: String(env.get(\"TARIFF_4_NAME\") || \"\").trim(), price: Number(env.get(\"TARIFF_4_PRICE\") || 0), start: String(env.get(\"TARIFF_4_START\") || \"\").trim(), end: String(env.get(\"TARIFF_4_END\") || \"\").trim() },\n\n    tempo: {\n        colorEntity: String(env.get(\"TEMPO_COLOR_ENTITY\") || \"\").trim(),\n        blueHc: Number(env.get(\"TEMPO_BLUE_HC_PRICE\") || 0),\n        blueHp: Number(env.get(\"TEMPO_BLUE_HP_PRICE\") || 0),\n        whiteHc: Number(env.get(\"TEMPO_WHITE_HC_PRICE\") || 0),\n        whiteHp: Number(env.get(\"TEMPO_WHITE_HP_PRICE\") || 0),\n        redHc: Number(env.get(\"TEMPO_RED_HC_PRICE\") || 0),\n        redHp: Number(env.get(\"TEMPO_RED_HP_PRICE\") || 0),\n        hcSlot1Start: String(env.get(\"TEMPO_HC_SLOT_1_START\") || \"22:00\").trim(),\n        hcSlot1End: String(env.get(\"TEMPO_HC_SLOT_1_END\") || \"06:00\").trim(),\n        hcSlot2Start: String(env.get(\"TEMPO_HC_SLOT_2_START\") || \"\").trim(),\n        hcSlot2End: String(env.get(\"TEMPO_HC_SLOT_2_END\") || \"\").trim(),\n        hcSlot3Start: String(env.get(\"TEMPO_HC_SLOT_3_START\") || \"\").trim(),\n        hcSlot3End: String(env.get(\"TEMPO_HC_SLOT_3_END\") || \"\").trim()\n    },\n\n    solarEnabled: String(env.get(\"SOLAR_ENABLED\") || \"false\") === \"true\",\n    solarInputMode: String(env.get(\"SOLAR_INPUT_MODE\") || \"energy\").trim(),\n    solarEnergyEntity: String(env.get(\"SOLAR_ENERGY_ENTITY\") || \"\").trim(),\n    solarPowerEntity: String(env.get(\"SOLAR_POWER_ENTITY\") || \"\").trim(),\n\n    loadEnabled: String(env.get(\"LOAD_ENABLED\") || \"false\") === \"true\",\n    loadInputMode: String(env.get(\"LOAD_INPUT_MODE\") || \"energy\").trim(),\n    loadEnergyEntity: String(env.get(\"LOAD_ENERGY_ENTITY\") || \"\").trim(),\n    loadPowerEntity: String(env.get(\"LOAD_POWER_ENTITY\") || \"\").trim(),\n\n    batteryEnabled: String(env.get(\"BATTERY_ENABLED\") || \"false\") === \"true\",\n    batteryInputMode: String(env.get(\"BATTERY_INPUT_MODE\") || \"energy\").trim(),\n    batteryChargeEnergyEntity: String(env.get(\"BATTERY_CHARGE_ENERGY_ENTITY\") || \"\").trim(),\n    batteryDischargeEnergyEntity: String(env.get(\"BATTERY_DISCHARGE_ENERGY_ENTITY\") || \"\").trim(),\n    batteryChargePowerEntity: String(env.get(\"BATTERY_CHARGE_POWER_ENTITY\") || \"\").trim(),\n    batteryDischargePowerEntity: String(env.get(\"BATTERY_DISCHARGE_POWER_ENTITY\") || \"\").trim(),\n\n    gridEnabled: String(env.get(\"GRID_ENABLED\") || \"false\") === \"true\",\n    gridInputMode: String(env.get(\"GRID_INPUT_MODE\") || \"energy\").trim(),\n    gridImportEnergyEntity: String(env.get(\"GRID_IMPORT_ENERGY_ENTITY\") || \"\").trim(),\n    gridExportEnergyEntity: String(env.get(\"GRID_EXPORT_ENERGY_ENTITY\") || \"\").trim(),\n    gridImportPowerEntity: String(env.get(\"GRID_IMPORT_POWER_ENTITY\") || \"\").trim(),\n    gridExportPowerEntity: String(env.get(\"GRID_EXPORT_POWER_ENTITY\") || \"\").trim()\n};\n\nreturn msg;","outputs":1,"x":310,"y":100,"wires":[["59f0d182b53425a4"]]},{"id":"59f0d182b53425a4","type":"function","z":"2fa9c6aa6d3a4d42","name":"Build HA States Request","func":"const token = env.get(\"SUPERVISOR_TOKEN\") || \"\";\nif (!token) {\n    node.error(\"SUPERVISOR_TOKEN introuvable\");\n    return null;\n}\n\nmsg.method = \"GET\";\nmsg.url = \"http://supervisor/core/api/states\";\nmsg.headers = {\n    Authorization: `Bearer ${token}`,\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;","outputs":1,"x":390,"y":160,"wires":[["b64ef74a72d28a54"]]},{"id":"b64ef74a72d28a54","type":"http request","z":"2fa9c6aa6d3a4d42","name":"Read HA States API","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":580,"y":100,"wires":[["a6307c858c8fc580"]]},{"id":"a6307c858c8fc580","type":"function","z":"2fa9c6aa6d3a4d42","name":"Extract Configured Entities","func":"const cfg = msg.cfg;\nconst list = Array.isArray(msg.payload) ? msg.payload : [];\n\nconst states = {};\nfor (const item of list) {\n    if (item && item.entity_id) states[item.entity_id] = item;\n}\n\nfunction num(entityId) {\n    if (!entityId || !states[entityId]) return 0;\n    const n = Number(states[entityId].state);\n    return Number.isFinite(n) ? n : 0;\n}\n\nfunction str(entityId) {\n    if (!entityId || !states[entityId]) return \"\";\n    return String(states[entityId].state || \"\").trim();\n}\n\nmsg.inputs = {\n    solarDay: cfg.solarEnabled && cfg.solarInputMode === \"energy\" ? num(cfg.solarEnergyEntity) : 0,\n    loadDay: cfg.loadEnabled && cfg.loadInputMode === \"energy\" ? num(cfg.loadEnergyEntity) : 0,\n    gridImportDay: cfg.gridEnabled && cfg.gridInputMode === \"energy\" ? num(cfg.gridImportEnergyEntity) : 0,\n    gridExportDay: cfg.gridEnabled && cfg.gridInputMode === \"energy\" ? num(cfg.gridExportEnergyEntity) : 0,\n    batteryChargeDay: cfg.batteryEnabled && cfg.batteryInputMode === \"energy\" ? num(cfg.batteryChargeEnergyEntity) : 0,\n    batteryDischargeDay: cfg.batteryEnabled && cfg.batteryInputMode === \"energy\" ? num(cfg.batteryDischargeEnergyEntity) : 0,\n\n    solarPower: cfg.solarEnabled && cfg.solarInputMode === \"power\" ? num(cfg.solarPowerEntity) : 0,\n    loadPower: cfg.loadEnabled && cfg.loadInputMode === \"power\" ? num(cfg.loadPowerEntity) : 0,\n    gridImportPower: cfg.gridEnabled && cfg.gridInputMode === \"power\" ? num(cfg.gridImportPowerEntity) : 0,\n    gridExportPower: cfg.gridEnabled && cfg.gridInputMode === \"power\" ? num(cfg.gridExportPowerEntity) : 0,\n    batteryChargePower: cfg.batteryEnabled && cfg.batteryInputMode === \"power\" ? num(cfg.batteryChargePowerEntity) : 0,\n    batteryDischargePower: cfg.batteryEnabled && cfg.batteryInputMode === \"power\" ? num(cfg.batteryDischargePowerEntity) : 0,\n\n    tempoColorRaw: cfg.contractType === \"tempo\" ? str(cfg.tempo.colorEntity) : \"\"\n};\n\nreturn msg;","outputs":1,"x":700,"y":160,"wires":[["c1d80d1a57c7d293"]]},{"id":"c1d80d1a57c7d293","type":"function","z":"2fa9c6aa6d3a4d42","name":"Free Engine","func":"const cfg = msg.cfg;\nconst inputs = msg.inputs || {};\nconst premiumActive = global.get(\"premium.active\") === true;\n\nfunction round(v, d = 4) { return Number((Number(v || 0)).toFixed(d)); }\nfunction hhmmToMinutes(s) {\n    if (!s || !/^\\d{2}:\\d{2}$/.test(s)) return null;\n    const [h, m] = s.split(\":\").map(Number);\n    if (!Number.isInteger(h) || !Number.isInteger(m)) return null;\n    if (h < 0 || h > 23 || m < 0 || m > 59) return null;\n    return h * 60 + m;\n}\nfunction minuteOfDay(t) { return (Number(t.hour) * 60) + Number(t.minute); }\nfunction isMinuteInRange(minute, start, end) {\n    const s = hhmmToMinutes(start);\n    const e = hhmmToMinutes(end);\n    if (s === null || e === null) return false;\n    if (s === e) return true;\n    if (s < e) return minute >= s && minute < e;\n    return minute >= s || minute < e;\n}\nfunction normalizeTempoColor(v) {\n    const s = String(v || \"\").trim().toLowerCase();\n    if (s === \"bleu\") return \"blue\";\n    if (s === \"blanc\") return \"white\";\n    if (s === \"rouge\") return \"red\";\n    if (s === \"inconnu\") return \"unknown\";\n    return \"unknown\";\n}\nfunction isTempoHc(minute, tempoCfg) {\n    return (\n        isMinuteInRange(minute, tempoCfg.hcSlot1Start, tempoCfg.hcSlot1End) ||\n        (tempoCfg.hcSlot2Start && tempoCfg.hcSlot2End && isMinuteInRange(minute, tempoCfg.hcSlot2Start, tempoCfg.hcSlot2End)) ||\n        (tempoCfg.hcSlot3Start && tempoCfg.hcSlot3End && isMinuteInRange(minute, tempoCfg.hcSlot3Start, tempoCfg.hcSlot3End))\n    );\n}\nfunction dateParts(tz) {\n    const parts = new Intl.DateTimeFormat(\"en-CA\", {\n        timeZone: tz,\n        year: \"numeric\",\n        month: \"2-digit\",\n        day: \"2-digit\",\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false\n    }).formatToParts(new Date());\n    const m = {};\n    for (const p of parts) if (p.type !== \"literal\") m[p.type] = p.value;\n    return {\n        year: m.year,\n        month: m.month,\n        day: m.day,\n        hour: m.hour,\n        minute: m.minute,\n        second: m.second,\n        dayKey: `${m.year}-${m.month}-${m.day}`,\n        monthKey: `${m.year}-${m.month}`,\n        yearKey: `${m.year}`\n    };\n}\nfunction emptyEnergy() {\n    return { solar: 0, load: 0, gridImport: 0, gridExport: 0, batteryCharge: 0, batteryDischarge: 0 };\n}\nfunction emptyFinance() {\n    return { import_cost: 0, export_revenue: 0, theoretical_no_solar_cost: 0, solar_production_value: 0 };\n}\nfunction currentDaySnapshot(inputs) {\n    return {\n        solar: Number(inputs.solarDay || 0),\n        load: Number(inputs.loadDay || 0),\n        gridImport: Number(inputs.gridImportDay || 0),\n        gridExport: Number(inputs.gridExportDay || 0),\n        batteryCharge: Number(inputs.batteryChargeDay || 0),\n        batteryDischarge: Number(inputs.batteryDischargeDay || 0)\n    };\n}\nfunction addEnergy(a, b) {\n    return {\n        solar: round(Number(a.solar || 0) + Number(b.solar || 0), 6),\n        load: round(Number(a.load || 0) + Number(b.load || 0), 6),\n        gridImport: round(Number(a.gridImport || 0) + Number(b.gridImport || 0), 6),\n        gridExport: round(Number(a.gridExport || 0) + Number(b.gridExport || 0), 6),\n        batteryCharge: round(Number(a.batteryCharge || 0) + Number(b.batteryCharge || 0), 6),\n        batteryDischarge: round(Number(a.batteryDischarge || 0) + Number(b.batteryDischarge || 0), 6)\n    };\n}\nfunction addFinance(a, b) {\n    return {\n        import_cost: round(Number(a.import_cost || 0) + Number(b.import_cost || 0), 6),\n        export_revenue: round(Number(a.export_revenue || 0) + Number(b.export_revenue || 0), 6),\n        theoretical_no_solar_cost: round(Number(a.theoretical_no_solar_cost || 0) + Number(b.theoretical_no_solar_cost || 0), 6),\n        solar_production_value: round(Number(a.solar_production_value || 0) + Number(b.solar_production_value || 0), 6)\n    };\n}\nfunction deltaPositive(cur, prev) {\n    const d = Number(cur || 0) - Number(prev || 0);\n    return d > 0 ? round(d, 6) : 0;\n}\nfunction energyDelta(cur, prev) {\n    return {\n        solar: deltaPositive(cur.solar, prev.solar),\n        load: deltaPositive(cur.load, prev.load),\n        gridImport: deltaPositive(cur.gridImport, prev.gridImport),\n        gridExport: deltaPositive(cur.gridExport, prev.gridExport),\n        batteryCharge: deltaPositive(cur.batteryCharge, prev.batteryCharge),\n        batteryDischarge: deltaPositive(cur.batteryDischarge, prev.batteryDischarge)\n    };\n}\nfunction proratedSubscription(periodName, monthlyPrice, time) {\n    const p = Number(monthlyPrice || 0);\n    if (!p) return 0;\n    if (periodName === \"day\") {\n        const daysInMonth = new Date(Number(time.year), Number(time.month), 0).getDate();\n        return p / daysInMonth;\n    }\n    if (periodName === \"month\") return p;\n    if (periodName === \"year\") return p * 12;\n    return 0;\n}\nfunction buildPeriodFinance(accEnergy, accFinance, periodName, cfg, now) {\n    const importEnergy = Number(accEnergy.gridImport || 0);\n    const exportEnergy = Number(accEnergy.gridExport || 0);\n    const loadEnergy = Number(accEnergy.load || 0);\n    const solarEnergy = Number(accEnergy.solar || 0);\n    const batteryCharge = Number(accEnergy.batteryCharge || 0);\n    const batteryDischarge = Number(accEnergy.batteryDischarge || 0);\n\n    const importCost = Number(accFinance.import_cost || 0);\n    const exportRevenue = Number(accFinance.export_revenue || 0);\n    const theoreticalNoSolarCost = Number(accFinance.theoretical_no_solar_cost || 0);\n    const solarProductionValue = Number(accFinance.solar_production_value || 0);\n\n    const subscriptionCost = proratedSubscription(periodName, cfg.monthlySubscriptionPrice, now);\n    const realTotalWithSubscription = importCost + subscriptionCost - exportRevenue;\n    const savingsVsNoSolar = theoreticalNoSolarCost - importCost + exportRevenue;\n\n    let selfSufficiencyPct = 0;\n    if (loadEnergy > 0) selfSufficiencyPct = ((Math.max(0, loadEnergy - importEnergy)) / loadEnergy) * 100;\n    let gridDependencyPct = 0;\n    if (loadEnergy > 0) gridDependencyPct = (importEnergy / loadEnergy) * 100;\n\n    return {\n        energy: {\n            solar_kwh: round(solarEnergy),\n            load_kwh: round(loadEnergy),\n            grid_import_kwh: round(importEnergy),\n            grid_export_kwh: round(exportEnergy),\n            battery_charge_kwh: round(batteryCharge),\n            battery_discharge_kwh: round(batteryDischarge)\n        },\n        finance: {\n            import_cost: round(importCost),\n            export_revenue: round(exportRevenue),\n            subscription_cost: round(subscriptionCost),\n            theoretical_no_solar_cost: round(theoreticalNoSolarCost),\n            solar_production_value: round(solarProductionValue),\n            real_total_with_subscription: round(realTotalWithSubscription),\n            savings_vs_no_solar: round(savingsVsNoSolar)\n        },\n        ratios: {\n            self_sufficiency_pct: round(selfSufficiencyPct, 2),\n            grid_dependency_pct: round(gridDependencyPct, 2)\n        }\n    };\n}\n\nconst now = dateParts(cfg.tz || \"UTC\");\nconst liveDay = currentDaySnapshot(inputs);\n\nlet store = flow.get(\"finance_store\", \"persistent\") || {\n    keys: { dayKey: now.dayKey, monthKey: now.monthKey, yearKey: now.yearKey },\n    prevLiveDay: liveDay,\n    closedDayMonthAccumulator: emptyEnergy(),\n    closedDayYearAccumulator: emptyEnergy(),\n    currentDayFinanceAccumulator: emptyFinance(),\n    closedDayMonthFinanceAccumulator: emptyFinance(),\n    closedDayYearFinanceAccumulator: emptyFinance(),\n    currentDaySnapshot: liveDay,\n    lastClosedDayKey: \"\",\n    meta: { lastTempoColor: \"\", lastTariffName: \"\", lastTariffPeriod: \"\", lastRun: \"\" }\n};\n\nconst oldDayKey = store.keys.dayKey;\nconst oldMonthKey = store.keys.monthKey;\nconst oldYearKey = store.keys.yearKey;\n\nfunction getCurrentTariff() {\n    const minute = minuteOfDay(now);\n\n    if (cfg.contractType === \"fixed\") {\n        return { mode: \"fixed\", name: \"fixed\", period: \"fixed\", importPrice: Number(cfg.fixedImportPrice || 0), exportPrice: Number(cfg.fixedExportPrice || 0), tempoColor: \"\", tempoColorRaw: \"\", isTempoHc: false };\n    }\n\n    if (cfg.contractType === \"time_based\") {\n        const tariffs = [cfg.tariff1, cfg.tariff2, cfg.tariff3, cfg.tariff4].filter(t => t && t.name && t.start && t.end);\n        for (const t of tariffs) {\n            if (isMinuteInRange(minute, t.start, t.end)) {\n                return { mode: \"time_based\", name: t.name, period: t.name, importPrice: Number(t.price || 0), exportPrice: Number(cfg.fixedExportPrice || 0), tempoColor: \"\", tempoColorRaw: \"\", isTempoHc: false };\n            }\n        }\n        return { mode: \"time_based\", name: \"unmatched\", period: \"unmatched\", importPrice: 0, exportPrice: Number(cfg.fixedExportPrice || 0), tempoColor: \"\", tempoColorRaw: \"\", isTempoHc: false };\n    }\n\n    if (cfg.contractType === \"tempo\") {\n        const colorRaw = String(inputs.tempoColorRaw || \"\").trim();\n        const color = normalizeTempoColor(colorRaw);\n        const hc = isTempoHc(minute, cfg.tempo);\n        let importPrice = 0;\n        let name = \"tempo_unknown\";\n        const period = hc ? \"hc\" : \"hp\";\n        if (color === \"blue\") { importPrice = hc ? Number(cfg.tempo.blueHc || 0) : Number(cfg.tempo.blueHp || 0); name = hc ? \"tempo_blue_hc\" : \"tempo_blue_hp\"; }\n        else if (color === \"white\") { importPrice = hc ? Number(cfg.tempo.whiteHc || 0) : Number(cfg.tempo.whiteHp || 0); name = hc ? \"tempo_white_hc\" : \"tempo_white_hp\"; }\n        else if (color === \"red\") { importPrice = hc ? Number(cfg.tempo.redHc || 0) : Number(cfg.tempo.redHp || 0); name = hc ? \"tempo_red_hc\" : \"tempo_red_hp\"; }\n        return { mode: \"tempo\", name, period, importPrice, exportPrice: Number(cfg.fixedExportPrice || 0), tempoColor: color, tempoColorRaw: colorRaw || \"inconnu\", isTempoHc: hc };\n    }\n\n    return { mode: \"fixed\", name: \"fixed\", period: \"fixed\", importPrice: Number(cfg.fixedImportPrice || 0), exportPrice: Number(cfg.fixedExportPrice || 0), tempoColor: \"\", tempoColorRaw: \"\", isTempoHc: false };\n}\n\nconst tariff = getCurrentTariff();\n\nif (oldDayKey !== now.dayKey) {\n    if (store.lastClosedDayKey !== oldDayKey) {\n        store.closedDayMonthAccumulator = addEnergy(store.closedDayMonthAccumulator, store.currentDaySnapshot);\n        store.closedDayYearAccumulator = addEnergy(store.closedDayYearAccumulator, store.currentDaySnapshot);\n        store.closedDayMonthFinanceAccumulator = addFinance(store.closedDayMonthFinanceAccumulator, store.currentDayFinanceAccumulator);\n        store.closedDayYearFinanceAccumulator = addFinance(store.closedDayYearFinanceAccumulator, store.currentDayFinanceAccumulator);\n        store.lastClosedDayKey = oldDayKey;\n    }\n\n    if (oldMonthKey !== now.monthKey) {\n        store.closedDayMonthAccumulator = emptyEnergy();\n        store.closedDayMonthFinanceAccumulator = emptyFinance();\n    }\n    if (oldYearKey !== now.yearKey) {\n        store.closedDayYearAccumulator = emptyEnergy();\n        store.closedDayYearFinanceAccumulator = emptyFinance();\n    }\n\n    store.currentDayFinanceAccumulator = emptyFinance();\n    store.prevLiveDay = liveDay;\n}\n\nif (oldDayKey === now.dayKey) {\n    const delta = energyDelta(liveDay, store.prevLiveDay || emptyEnergy());\n    store.currentDayFinanceAccumulator.import_cost = round(store.currentDayFinanceAccumulator.import_cost + delta.gridImport * Number(tariff.importPrice || 0), 6);\n    store.currentDayFinanceAccumulator.export_revenue = round(store.currentDayFinanceAccumulator.export_revenue + delta.gridExport * Number(tariff.exportPrice || 0), 6);\n    store.currentDayFinanceAccumulator.theoretical_no_solar_cost = round(store.currentDayFinanceAccumulator.theoretical_no_solar_cost + delta.load * Number(tariff.importPrice || 0), 6);\n    store.currentDayFinanceAccumulator.solar_production_value = round(store.currentDayFinanceAccumulator.solar_production_value + delta.solar * Number(tariff.importPrice || 0), 6);\n    store.prevLiveDay = liveDay;\n}\n\nstore.keys = { dayKey: now.dayKey, monthKey: now.monthKey, yearKey: now.yearKey };\nstore.currentDaySnapshot = liveDay;\nstore.meta.lastRun = new Date().toISOString();\n\nconst dayEnergy = liveDay;\nconst dayFinance = store.currentDayFinanceAccumulator;\nconst monthEnergy = addEnergy(store.closedDayMonthAccumulator, liveDay);\nconst yearEnergy = addEnergy(store.closedDayYearAccumulator, liveDay);\nconst monthFinance = addFinance(store.closedDayMonthFinanceAccumulator, dayFinance);\nconst yearFinance = addFinance(store.closedDayYearFinanceAccumulator, dayFinance);\n\nstore.meta.lastTempoColor = tariff.tempoColor;\nstore.meta.lastTariffName = tariff.name;\nstore.meta.lastTariffPeriod = tariff.period;\nflow.set(\"finance_store\", store, \"persistent\");\n\nif (cfg.contractType === \"tempo\") {\n    node.status({ fill: tariff.tempoColor === \"unknown\" ? \"grey\" : \"green\", shape: \"dot\", text: `tempo ${tariff.tempoColorRaw || \"inconnu\"} / ${tariff.period}` });\n} else {\n    node.status({ fill: \"blue\", shape: \"dot\", text: `${cfg.contractType} / ${tariff.name}` });\n}\n\nmsg.sef = {\n    cfg,\n    now,\n    tariff,\n    premiumActive,\n    dayEnergy,\n    dayFinance,\n    monthEnergy,\n    monthFinance,\n    yearEnergy,\n    yearFinance\n};\n\nmsg.payload = {\n    info: {\n        module: \"smart_energy_finance\",\n        version: \"0.1.0\",\n        currency: cfg.currency,\n        timezone: cfg.tz,\n        contract_type: cfg.contractType,\n        premium_active: premiumActive,\n        premium_status: global.get(\"premium.status\") || (premiumActive ? \"valid\" : \"missing_key\"),\n        premium_tier: global.get(\"premium.tier\") || null,\n        premium_install_id: global.get(\"premium.install_id\") || null,\n        dashboard_language: global.get(\"config.dashboardLanguage\") || cfg.lang || \"en\",\n        dashboard_custom_cards_installed: global.get(\"config.dashboardCustomCardsInstalled\") === true,\n        active_tariff_name: tariff.name,\n        active_tariff_period: tariff.period,\n        active_import_price: round(tariff.importPrice, 6),\n        active_export_price: round(tariff.exportPrice, 6),\n        tempo_color: tariff.tempoColor,\n        tempo_color_raw: tariff.tempoColorRaw || \"inconnu\",\n        tempo_is_hc: tariff.isTempoHc,\n        day_key: now.dayKey,\n        month_key: now.monthKey,\n        year_key: now.yearKey,\n        premium_teaser_month: premiumActive ? \"active\" : \"premium_required\",\n        premium_teaser_battery: premiumActive ? \"active\" : \"premium_required\",\n        updated_at: new Date().toISOString()\n    },\n    current_inputs: {\n        solar_day_kwh: inputs.solarDay,\n        load_day_kwh: inputs.loadDay,\n        grid_import_day_kwh: inputs.gridImportDay,\n        grid_export_day_kwh: inputs.gridExportDay,\n        battery_charge_day_kwh: inputs.batteryChargeDay,\n        battery_discharge_day_kwh: inputs.batteryDischargeDay,\n        solar_power_w: inputs.solarPower,\n        load_power_w: inputs.loadPower,\n        grid_import_power_w: inputs.gridImportPower,\n        grid_export_power_w: inputs.gridExportPower,\n        battery_charge_power_w: inputs.batteryChargePower,\n        battery_discharge_power_w: inputs.batteryDischargePower\n    },\n    free: {\n        day: buildPeriodFinance(dayEnergy, dayFinance, \"day\", cfg, now)\n    }\n};\n\nreturn msg;","outputs":1,"x":830,"y":100,"wires":[["985ebc62aa59495d"]]},{"id":"985ebc62aa59495d","type":"function","z":"2fa9c6aa6d3a4d42","name":"Premium Engine","func":"const premiumActive = global.get(\"premium.active\") === true;\nconst ctx = msg.sef || {};\n\nfunction round(v, d = 4) { return Number((Number(v || 0)).toFixed(d)); }\nfunction proratedSubscription(periodName, monthlyPrice, time) {\n    const p = Number(monthlyPrice || 0);\n    if (!p) return 0;\n    if (periodName === \"day\") {\n        const daysInMonth = new Date(Number(time.year), Number(time.month), 0).getDate();\n        return p / daysInMonth;\n    }\n    if (periodName === \"month\") return p;\n    if (periodName === \"year\") return p * 12;\n    return 0;\n}\nfunction buildPeriodFinance(accEnergy, accFinance, periodName, cfg, now) {\n    const importEnergy = Number(accEnergy.gridImport || 0);\n    const exportEnergy = Number(accEnergy.gridExport || 0);\n    const loadEnergy = Number(accEnergy.load || 0);\n    const solarEnergy = Number(accEnergy.solar || 0);\n    const batteryCharge = Number(accEnergy.batteryCharge || 0);\n    const batteryDischarge = Number(accEnergy.batteryDischarge || 0);\n\n    const importCost = Number(accFinance.import_cost || 0);\n    const exportRevenue = Number(accFinance.export_revenue || 0);\n    const theoreticalNoSolarCost = Number(accFinance.theoretical_no_solar_cost || 0);\n    const solarProductionValue = Number(accFinance.solar_production_value || 0);\n\n    const subscriptionCost = proratedSubscription(periodName, cfg.monthlySubscriptionPrice, now);\n    const realTotalWithSubscription = importCost + subscriptionCost - exportRevenue;\n    const savingsVsNoSolar = theoreticalNoSolarCost - importCost + exportRevenue;\n\n    let selfSufficiencyPct = 0;\n    if (loadEnergy > 0) selfSufficiencyPct = ((Math.max(0, loadEnergy - importEnergy)) / loadEnergy) * 100;\n    let gridDependencyPct = 0;\n    if (loadEnergy > 0) gridDependencyPct = (importEnergy / loadEnergy) * 100;\n\n    return {\n        energy: {\n            solar_kwh: round(solarEnergy),\n            load_kwh: round(loadEnergy),\n            grid_import_kwh: round(importEnergy),\n            grid_export_kwh: round(exportEnergy),\n            battery_charge_kwh: round(batteryCharge),\n            battery_discharge_kwh: round(batteryDischarge)\n        },\n        finance: {\n            import_cost: round(importCost),\n            export_revenue: round(exportRevenue),\n            subscription_cost: round(subscriptionCost),\n            theoretical_no_solar_cost: round(theoreticalNoSolarCost),\n            solar_production_value: round(solarProductionValue),\n            real_total_with_subscription: round(realTotalWithSubscription),\n            savings_vs_no_solar: round(savingsVsNoSolar)\n        },\n        ratios: {\n            self_sufficiency_pct: round(selfSufficiencyPct, 2),\n            grid_dependency_pct: round(gridDependencyPct, 2)\n        }\n    };\n}\n\nif (!msg.payload || !ctx.cfg || !ctx.now) {\n    node.error(\"Contexte SEF manquant pour le noeud premium\");\n    return null;\n}\n\nif (premiumActive) {\n    msg.payload.premium = {\n        month: buildPeriodFinance(ctx.monthEnergy, ctx.monthFinance, \"month\", ctx.cfg, ctx.now),\n        year: buildPeriodFinance(ctx.yearEnergy, ctx.yearFinance, \"year\", ctx.cfg, ctx.now),\n        battery: {\n            day_charge_kwh: round(ctx.dayEnergy.batteryCharge),\n            day_discharge_kwh: round(ctx.dayEnergy.batteryDischarge),\n            month_charge_kwh: round(ctx.monthEnergy.batteryCharge),\n            month_discharge_kwh: round(ctx.monthEnergy.batteryDischarge),\n            year_charge_kwh: round(ctx.yearEnergy.batteryCharge),\n            year_discharge_kwh: round(ctx.yearEnergy.batteryDischarge)\n        }\n    };\n    node.status({ fill: \"green\", shape: \"dot\", text: \"premium actif\" });\n} else {\n    delete msg.payload.premium;\n    node.status({ fill: \"grey\", shape: \"ring\", text: \"premium inactif\" });\n}\n\ndelete msg.sef;\nreturn msg;","outputs":1,"x":960,"y":160,"wires":[["9af4452a4730f7e3"]]},{"id":"9af4452a4730f7e3","type":"json","z":"2fa9c6aa6d3a4d42","name":"To JSON","property":"payload","action":"str","pretty":false,"x":1020,"y":100,"wires":[["c15675d66c277543"]]},{"id":"c15675d66c277543","type":"mqtt out","z":"2fa9c6aa6d3a4d42","name":"MQTT State","topic":"smart_energy_finance/state","qos":"0","retain":"true","broker":"mqtt_broker_main","x":1170,"y":140,"wires":[]},{"id":"fb25b709c4b14a6e","type":"inject","z":"c0ed66ec5e7f8507","name":"Discovery at startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"12","x":140,"y":100,"wires":[["f48b2a6d25aa8984","cab85f1c58bb0175"]]},{"id":"6e2b987af96f5b26","type":"inject","z":"c0ed66ec5e7f8507","name":"Discovery every 12h","props":[],"repeat":"43200","crontab":"","once":false,"onceDelay":"","x":140,"y":160,"wires":[["f48b2a6d25aa8984","cab85f1c58bb0175"]]},{"id":"f48b2a6d25aa8984","type":"function","z":"c0ed66ec5e7f8507","name":"Build Discovery (FR/EN + Premium)","func":"const prefix = String(env.get('MQTT_PREFIX') || 'smart_energy_finance').trim() || 'smart_energy_finance';\nconst currency = String(env.get('CURRENCY') || 'EUR').trim() || 'EUR';\nconst lang = String(env.get('DASHBOARD_LANGUAGE') || 'en').trim().toLowerCase();\nconst premiumActive = global.get('premium.active') === true;\n\nconst stateTopic = `${prefix}/state`;\nconst availabilityTopic = `${prefix}/availability`;\n\nconst device = {\n  identifiers:['smart_energy_finance'],\n  name:'Smart Energy Finance',\n  manufacturer:'OpenAI User Project',\n  model:'Node-RED Energy Finance Engine',\n  sw_version:'0.1.0'\n};\n\nconst tr = {\n  en: {\n    day_import_cost: 'Day Import Cost',\n    day_export_revenue: 'Day Export Revenue',\n    day_subscription_cost: 'Day Subscription Cost',\n    day_theoretical_no_solar_cost: 'Day Theoretical No Solar Cost',\n    day_solar_production_value: 'Day Solar Production Value',\n    day_real_total_with_subscription: 'Day Real Total With Subscription',\n    day_savings_vs_no_solar: 'Day Savings Vs No Solar',\n    day_grid_import_kwh: 'Day Grid Import',\n    day_grid_export_kwh: 'Day Grid Export',\n    day_solar_kwh: 'Day Solar',\n    day_load_kwh: 'Day Load',\n    day_self_sufficiency_pct: 'Day Self Sufficiency',\n    day_grid_dependency_pct: 'Day Grid Dependency',\n    active_tariff_name: 'Active Tariff Name',\n    active_import_price: 'Active Import Price',\n    tempo_color: 'Tempo Color',\n    teaser_month: 'Monthly Analytics (Premium)',\n    teaser_battery: 'Battery Analytics (Premium)',\n    month_savings: 'Month Savings Vs No Solar',\n    month_solar_value: 'Month Solar Production Value',\n    year_savings: 'Year Savings Vs No Solar',\n    year_solar_value: 'Year Solar Production Value',\n    battery_day_charge: 'Battery Day Charge',\n    battery_day_discharge: 'Battery Day Discharge',\n    battery_month_charge: 'Battery Month Charge',\n    battery_month_discharge: 'Battery Month Discharge',\n    battery_year_charge: 'Battery Year Charge',\n    battery_year_discharge: 'Battery Year Discharge',\n    premium_required: 'Premium required'\n  },\n  fr: {\n    day_import_cost: 'Coût import jour',\n    day_export_revenue: 'Revenu export jour',\n    day_subscription_cost: 'Part abonnement jour',\n    day_theoretical_no_solar_cost: 'Coût théorique sans solaire jour',\n    day_solar_production_value: 'Valeur production solaire jour',\n    day_real_total_with_subscription: 'Coût réel total jour',\n    day_savings_vs_no_solar: 'Économie jour',\n    day_grid_import_kwh: 'Import réseau jour',\n    day_grid_export_kwh: 'Export réseau jour',\n    day_solar_kwh: 'Production solaire jour',\n    day_load_kwh: 'Consommation jour',\n    day_self_sufficiency_pct: 'Autosuffisance jour',\n    day_grid_dependency_pct: 'Dépendance réseau jour',\n    active_tariff_name: 'Tarif actif',\n    active_import_price: 'Prix import actif',\n    tempo_color: 'Couleur Tempo',\n    teaser_month: 'Analyse mensuelle (Premium)',\n    teaser_battery: 'Analyse batterie (Premium)',\n    month_savings: 'Économie mois',\n    month_solar_value: 'Valeur production solaire mois',\n    year_savings: 'Économie année',\n    year_solar_value: 'Valeur production solaire année',\n    battery_day_charge: 'Charge batterie jour',\n    battery_day_discharge: 'Décharge batterie jour',\n    battery_month_charge: 'Charge batterie mois',\n    battery_month_discharge: 'Décharge batterie mois',\n    battery_year_charge: 'Charge batterie année',\n    battery_year_discharge: 'Décharge batterie année',\n    premium_required: 'Premium requis'\n  }\n};\n\nconst T = tr[lang] || tr.en;\n\nfunction sensor(objectId, name, valueTemplate, unit, icon) {\n  const payload = {\n    name,\n    unique_id: objectId,\n    state_topic: stateTopic,\n    availability_topic: availabilityTopic,\n    payload_available: 'online',\n    payload_not_available: 'offline',\n    value_template: valueTemplate,\n    device,\n    icon\n  };\n  if (unit) payload.unit_of_measurement = unit;\n  return { topic: `homeassistant/sensor/${objectId}/config`, payload: JSON.stringify(payload), retain: true };\n}\n\nconst msgs = [];\n\n// FREE real sensors\nmsgs.push(sensor('sef_day_import_cost', T.day_import_cost, '{{ value_json.free.day.finance.import_cost }}', currency, 'mdi:cash'));\nmsgs.push(sensor('sef_day_export_revenue', T.day_export_revenue, '{{ value_json.free.day.finance.export_revenue }}', currency, 'mdi:cash-plus'));\nmsgs.push(sensor('sef_day_subscription_cost', T.day_subscription_cost, '{{ value_json.free.day.finance.subscription_cost }}', currency, 'mdi:calendar-month'));\nmsgs.push(sensor('sef_day_theoretical_no_solar_cost', T.day_theoretical_no_solar_cost, '{{ value_json.free.day.finance.theoretical_no_solar_cost }}', currency, 'mdi:cash-remove'));\nmsgs.push(sensor('sef_day_solar_production_value', T.day_solar_production_value, '{{ value_json.free.day.finance.solar_production_value }}', currency, 'mdi:solar-power-variant'));\nmsgs.push(sensor('sef_day_real_total_with_subscription', T.day_real_total_with_subscription, '{{ value_json.free.day.finance.real_total_with_subscription }}', currency, 'mdi:receipt'));\nmsgs.push(sensor('sef_day_savings_vs_no_solar', T.day_savings_vs_no_solar, '{{ value_json.free.day.finance.savings_vs_no_solar }}', currency, 'mdi:cash-check'));\nmsgs.push(sensor('sef_day_grid_import_kwh', T.day_grid_import_kwh, '{{ value_json.free.day.energy.grid_import_kwh }}', 'kWh', 'mdi:transmission-tower-import'));\nmsgs.push(sensor('sef_day_grid_export_kwh', T.day_grid_export_kwh, '{{ value_json.free.day.energy.grid_export_kwh }}', 'kWh', 'mdi:transmission-tower-export'));\nmsgs.push(sensor('sef_day_solar_kwh', T.day_solar_kwh, '{{ value_json.free.day.energy.solar_kwh }}', 'kWh', 'mdi:solar-power'));\nmsgs.push(sensor('sef_day_load_kwh', T.day_load_kwh, '{{ value_json.free.day.energy.load_kwh }}', 'kWh', 'mdi:home-lightning-bolt'));\nmsgs.push(sensor('sef_day_self_sufficiency_pct', T.day_self_sufficiency_pct, '{{ value_json.free.day.ratios.self_sufficiency_pct }}', '%', 'mdi:percent'));\nmsgs.push(sensor('sef_day_grid_dependency_pct', T.day_grid_dependency_pct, '{{ value_json.free.day.ratios.grid_dependency_pct }}', '%', 'mdi:percent-box'));\nmsgs.push(sensor('sef_active_tariff_name', T.active_tariff_name, '{{ value_json.info.active_tariff_name }}', '', 'mdi:label'));\nmsgs.push(sensor('sef_active_import_price', T.active_import_price, '{{ value_json.info.active_import_price }}', currency, 'mdi:cash-clock'));\nmsgs.push(sensor('sef_tempo_color', T.tempo_color, '{{ value_json.info.tempo_color_raw }}', '', 'mdi:palette'));\n\n// FREE teaser sensors (locked)\nmsgs.push(sensor('sef_premium_teaser_month', T.teaser_month, `{{ '${T.premium_required}' if value_json.info.premium_active == false else 'Active' }}`, '', 'mdi:lock'));\nmsgs.push(sensor('sef_premium_teaser_battery', T.teaser_battery, `{{ '${T.premium_required}' if value_json.info.premium_active == false else 'Active' }}`, '', 'mdi:battery-lock'));\n\n// PREMIUM real sensors only for premium users\nif (premiumActive) {\n  msgs.push(sensor('sef_month_savings_vs_no_solar', T.month_savings, '{{ value_json.premium.month.finance.savings_vs_no_solar }}', currency, 'mdi:cash-check'));\n  msgs.push(sensor('sef_month_solar_production_value', T.month_solar_value, '{{ value_json.premium.month.finance.solar_production_value }}', currency, 'mdi:solar-power-variant'));\n  msgs.push(sensor('sef_year_savings_vs_no_solar', T.year_savings, '{{ value_json.premium.year.finance.savings_vs_no_solar }}', currency, 'mdi:cash-check'));\n  msgs.push(sensor('sef_year_solar_production_value', T.year_solar_value, '{{ value_json.premium.year.finance.solar_production_value }}', currency, 'mdi:solar-power-variant'));\n  msgs.push(sensor('sef_battery_day_charge_kwh', T.battery_day_charge, '{{ value_json.premium.battery.day_charge_kwh }}', 'kWh', 'mdi:battery-plus'));\n  msgs.push(sensor('sef_battery_day_discharge_kwh', T.battery_day_discharge, '{{ value_json.premium.battery.day_discharge_kwh }}', 'kWh', 'mdi:battery-minus'));\n  msgs.push(sensor('sef_battery_month_charge_kwh', T.battery_month_charge, '{{ value_json.premium.battery.month_charge_kwh }}', 'kWh', 'mdi:battery-plus'));\n  msgs.push(sensor('sef_battery_month_discharge_kwh', T.battery_month_discharge, '{{ value_json.premium.battery.month_discharge_kwh }}', 'kWh', 'mdi:battery-minus'));\n  msgs.push(sensor('sef_battery_year_charge_kwh', T.battery_year_charge, '{{ value_json.premium.battery.year_charge_kwh }}', 'kWh', 'mdi:battery-plus'));\n  msgs.push(sensor('sef_battery_year_discharge_kwh', T.battery_year_discharge, '{{ value_json.premium.battery.year_discharge_kwh }}', 'kWh', 'mdi:battery-minus'));\n}\n\nmsgs.push({ topic: availabilityTopic, payload: 'online', retain: true });\nmsg.payload = msgs;\nreturn msg;","outputs":1,"x":470,"y":80,"wires":[["b473d69b3f82ecc4"]]},{"id":"b473d69b3f82ecc4","type":"split","z":"c0ed66ec5e7f8507","name":"One by one","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":730,"y":80,"wires":[["90788f6361616475"]]},{"id":"90788f6361616475","type":"function","z":"c0ed66ec5e7f8507","name":"Normalize Split Item","func":"if (msg.payload && typeof msg.payload === 'object' && msg.payload.topic) return msg.payload;\nif (Array.isArray(msg.payload) && msg.payload.length) return msg.payload[0];\nreturn msg;","outputs":1,"x":940,"y":80,"wires":[["2b4934ba217366c3"]]},{"id":"2b4934ba217366c3","type":"mqtt out","z":"c0ed66ec5e7f8507","name":"MQTT Discovery Out","topic":"","qos":"0","retain":"true","broker":"mqtt_broker_main","x":1200,"y":120,"wires":[]},{"id":"cab85f1c58bb0175","type":"function","z":"c0ed66ec5e7f8507","name":"MQTT discovery system","func":"const discoveryPrefix = \"homeassistant\";\nconst uniqueBase = \"smart_energy_finance_system\";\nconst stateTopic = \"smart_energy_finance/system/info\";\nconst device = {\n    identifiers: [\"smart_energy_finance_system\"],\n    name: \"Smart Energy Finance System\",\n    manufacturer: \"Smart Energy Finance\",\n    model: \"Node-RED Add-on\",\n    sw_version: \"0.1.0\"\n};\nfunction sensorPayload(name, unique_id, template, icon) {\n    return { name, unique_id, state_topic: stateTopic, value_template: template, icon, entity_category: \"diagnostic\", device };\n}\nconst payloadInstallId = sensorPayload(\"Smart Energy Finance Premium Install ID\", `${uniqueBase}_premium_install_id`, \"{{ value_json.install_id }}\", \"mdi:key\");\nconst payloadPremiumActive = { name: \"Smart Energy Finance Premium Active\", unique_id: `${uniqueBase}_premium_active`, state_topic: stateTopic, value_template: \"{{ value_json.premium_active }}\", payload_on: \"ON\", payload_off: \"OFF\", icon: \"mdi:crown\", entity_category: \"diagnostic\", device };\nconst payloadPremiumStatus = sensorPayload(\"Smart Energy Finance Premium Status\", `${uniqueBase}_premium_status`, \"{{ value_json.premium_status }}\", \"mdi:shield-check\");\nconst payloadPremiumTier = sensorPayload(\"Smart Energy Finance Premium Tier\", `${uniqueBase}_premium_tier`, \"{{ value_json.premium_tier }}\", \"mdi:crown-outline\");\nconst payloadDashboardLanguage = sensorPayload(\"Smart Energy Finance Dashboard Language\", `${uniqueBase}_dashboard_language`, \"{{ value_json.dashboard_language }}\", \"mdi:translate\");\nconst payloadDashboardCards = { name: \"Smart Energy Finance Dashboard Custom Cards\", unique_id: `${uniqueBase}_dashboard_custom_cards_installed`, state_topic: stateTopic, value_template: \"{{ value_json.dashboard_custom_cards_installed }}\", payload_on: \"ON\", payload_off: \"OFF\", icon: \"mdi:view-dashboard\", entity_category: \"diagnostic\", device };\nmsg.payload = [\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/premium_install_id/config`, payload: JSON.stringify(payloadInstallId), retain: true },\n    { topic: `${discoveryPrefix}/binary_sensor/smart_energy_finance_system/premium_active/config`, payload: JSON.stringify(payloadPremiumActive), retain: true },\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/premium_status/config`, payload: JSON.stringify(payloadPremiumStatus), retain: true },\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/premium_tier/config`, payload: JSON.stringify(payloadPremiumTier), retain: true },\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/dashboard_language/config`, payload: JSON.stringify(payloadDashboardLanguage), retain: true },\n    { topic: `${discoveryPrefix}/binary_sensor/smart_energy_finance_system/dashboard_custom_cards_installed/config`, payload: JSON.stringify(payloadDashboardCards), retain: true }\n];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":160,"wires":[["077cd9d09eba5001"]]},{"id":"077cd9d09eba5001","type":"split","z":"c0ed66ec5e7f8507","name":"One by one system","splt":"\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":690,"y":160,"wires":[["0c9d482501cce5b9"]]},{"id":"0c9d482501cce5b9","type":"function","z":"c0ed66ec5e7f8507","name":"Normalize Split Item system","func":"if (msg.payload && typeof msg.payload === 'object' && msg.payload.topic) return msg.payload;\nif (Array.isArray(msg.payload) && msg.payload.length) return msg.payload[0];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":160,"wires":[["2b4934ba217366c3"]]},{"id":"6d051cdc9b159d63","type":"inject","z":"c9f57020ea7258ca","name":"Init premium startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"2","x":130,"y":80,"wires":[["caed1037f2430486"]]},{"id":"caed1037f2430486","type":"function","z":"c9f57020ea7258ca","name":"PREMIUM STORAGE INIT","func":"const crypto = global.get(\"crypto\");\nconst fs = global.get(\"fs\");\nconst path = global.get(\"path\");\n\nfunction normStr(v) { return (v ?? \"\").toString().trim(); }\n\nfunction generateInstallId() {\n    if (crypto && typeof crypto.randomUUID === \"function\") return crypto.randomUUID();\n    return \"sef-\" + Date.now().toString(36) + \"-\" + Math.random().toString(36).slice(2, 10);\n}\n\nconst PREMIUM_FILE = \"/config/smart_energy_finance_premium.json\";\nlet installId = null;\nlet createdAt = null;\nlet fileStatus = \"unknown\";\n\nif (!fs || !path) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"fs/path unavailable\" });\n    node.error(\"PREMIUM STORAGE INIT -> fs/path unavailable in functionGlobalContext\", msg);\n    return null;\n}\n\ntry {\n    if (fs.existsSync(PREMIUM_FILE)) {\n        const raw = fs.readFileSync(PREMIUM_FILE, \"utf8\");\n        const data = JSON.parse(raw);\n        installId = normStr(data.install_id);\n        createdAt = data.created_at || null;\n        fileStatus = installId ? \"loaded\" : \"invalid_file\";\n    } else {\n        fileStatus = \"missing_file\";\n    }\n} catch (e) {\n    node.warn(\"PREMIUM STORAGE INIT -> read error: \" + e.message);\n    fileStatus = \"read_error\";\n}\n\nif (!installId) {\n    installId = generateInstallId();\n    createdAt = Date.now();\n    const dataToSave = { version: 1, install_id: installId, created_at: createdAt };\n    try {\n        fs.mkdirSync(path.dirname(PREMIUM_FILE), { recursive: true });\n        fs.writeFileSync(PREMIUM_FILE, JSON.stringify(dataToSave, null, 2), \"utf8\");\n        fileStatus = \"created\";\n    } catch (e) {\n        node.status({ fill: \"red\", shape: \"ring\", text: \"write error\" });\n        node.error(\"PREMIUM STORAGE INIT -> write error: \" + e.message, msg);\n        return null;\n    }\n}\n\nglobal.set(\"premium.install_id\", installId);\nglobal.set(\"premium.install_created_at\", createdAt);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: `install_id ${fileStatus}` });\n\nmsg.payload = msg.payload && typeof msg.payload === \"object\" ? msg.payload : {};\nmsg.payload.premium_storage = { install_id: installId, created_at: createdAt, file_status: fileStatus, file: PREMIUM_FILE };\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":80,"wires":[["b0d5a3ec9e4c4cd9"]]},{"id":"72ccadb0b710e132","type":"inject","z":"c9f57020ea7258ca","name":"Refresh premium 5 min","props":[],"repeat":"300","crontab":"","once":false,"onceDelay":"","x":130,"y":140,"wires":[["b0d5a3ec9e4c4cd9"]]},{"id":"b0d5a3ec9e4c4cd9","type":"function","z":"c9f57020ea7258ca","name":"premium init","func":"/* =========================\n   PREMIUM INIT\n   Format licence :\n   SVP|premium|INSTALL_ID|SIGNATURE\n   ========================= */\nconst crypto = global.get(\"crypto\");\nfunction normStr(v) { return (v ?? \"\").toString().trim(); }\nconst LICENSE_SECRET = \"SVP_2026_9f7c2e51b4d84f38a1e9c7b6d5e4f301_ULTRA_LONG_SECRET\";\nfunction signPayload(payload) {\n    return crypto.createHmac(\"sha256\", LICENSE_SECRET).update(payload, \"utf8\").digest(\"hex\");\n}\nfunction safeEqual(a, b) {\n    const aa = Buffer.from(String(a || \"\"), \"utf8\");\n    const bb = Buffer.from(String(b || \"\"), \"utf8\");\n    if (aa.length !== bb.length) return false;\n    return crypto.timingSafeEqual(aa, bb);\n}\nconst premiumKey = normStr(global.get(\"premium.key\"));\nconst installId = normStr(global.get(\"premium.install_id\"));\nlet premiumActive = false;\nlet premiumStatus = \"missing_key\";\nlet premiumTier = null;\nif (!crypto) premiumStatus = \"crypto_missing\";\nelse if (!installId) premiumStatus = \"missing_install_id\";\nelse if (!premiumKey) premiumStatus = \"missing_key\";\nelse {\n    const parts = premiumKey.split(\"|\");\n    if (parts.length !== 4) premiumStatus = \"invalid_format\";\n    else {\n        const prefix = normStr(parts[0]);\n        const tier = normStr(parts[1]);\n        const licenseInstallId = normStr(parts[2]);\n        const signature = normStr(parts[3]);\n        if (prefix !== \"SVP\") premiumStatus = \"invalid_prefix\";\n        else if (tier !== \"premium\") premiumStatus = \"invalid_tier\";\n        else if (!licenseInstallId) premiumStatus = \"missing_license_install_id\";\n        else if (!signature) premiumStatus = \"missing_signature\";\n        else if (licenseInstallId !== installId) premiumStatus = \"install_id_mismatch\";\n        else {\n            const payload = `${prefix}|${tier}|${licenseInstallId}`;\n            const expected = signPayload(payload);\n            if (!safeEqual(signature, expected)) premiumStatus = \"invalid_signature\";\n            else {\n                premiumActive = true;\n                premiumStatus = \"valid\";\n                premiumTier = \"premium\";\n                global.set(\"premium.last_valid\", Date.now());\n            }\n        }\n    }\n}\nglobal.set(\"premium.active\", premiumActive);\nglobal.set(\"premium.status\", premiumStatus);\nglobal.set(\"premium.tier\", premiumTier);\nconst premiumState = { install_id: installId || null, active: premiumActive, status: premiumStatus, tier: premiumTier };\nif (premiumActive) node.status({ fill: \"green\", shape: \"dot\", text: \"Premium active\" });\nelse if ([\"invalid_format\",\"invalid_prefix\",\"invalid_tier\",\"missing_license_install_id\",\"missing_signature\",\"install_id_mismatch\",\"invalid_signature\",\"crypto_missing\"].includes(premiumStatus)) node.status({ fill: \"red\", shape: \"ring\", text: \"Premium \" + premiumStatus });\nelse node.status({ fill: \"yellow\", shape: \"ring\", text: \"Free / \" + premiumStatus });\nmsg.payload = msg.payload && typeof msg.payload === \"object\" ? msg.payload : {};\nmsg.payload.premium = premiumState;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["9beb78d693bed2e8"]]},{"id":"9beb78d693bed2e8","type":"function","z":"c9f57020ea7258ca","name":"MQTT system state","func":"const installId = global.get(\"premium.install_id\") || null;\nconst premiumActive = global.get(\"premium.active\") === true ? \"ON\" : \"OFF\";\nconst premiumStatus = global.get(\"premium.status\") || \"unknown\";\nconst premiumTier = global.get(\"premium.tier\") || null;\nconst dashboardLanguage = global.get(\"config.dashboardLanguage\") || \"en\";\nconst dashboardCustomCardsInstalled = global.get(\"config.dashboardCustomCardsInstalled\") === true ? \"ON\" : \"OFF\";\nmsg.topic = \"smart_energy_finance/system/info\";\nmsg.payload = {\n    install_id: installId,\n    premium_active: premiumActive,\n    premium_status: premiumStatus,\n    premium_tier: premiumTier,\n    dashboard_language: dashboardLanguage,\n    dashboard_custom_cards_installed: dashboardCustomCardsInstalled\n};\nmsg.retain = true;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":120,"wires":[["dac8952f524afce9"]]},{"id":"dac8952f524afce9","type":"json","z":"c9f57020ea7258ca","name":"To JSON","property":"payload","action":"str","pretty":false,"x":1100,"y":120,"wires":[["caf4d60359a9b2d2"]]},{"id":"caf4d60359a9b2d2","type":"mqtt out","z":"c9f57020ea7258ca","name":"MQTT System Info","topic":"smart_energy_finance/system/info","qos":"0","retain":"true","broker":"mqtt_broker_main","x":1310,"y":120,"wires":[]},{"id":"6ad6ac94531b6990","type":"inject","z":"1f0153acfb2b7b84","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"15","x":110,"y":80,"wires":[["3a09c39db2536da0"]]},{"id":"3a09c39db2536da0","type":"function","z":"1f0153acfb2b7b84","name":"CHECK PREMIUM","func":"const premiumActive = global.get(\"premium.active\") === true;\nif (premiumActive) return [msg, null];\nreturn [null, msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":80,"wires":[["937f63c786c51cab"],["4bb106fa32217f97"]]},{"id":"937f63c786c51cab","type":"function","z":"1f0153acfb2b7b84","name":"BUILD PREMIUM DASHBOARD ","func":"// ===============================\n// BUILD PREMIUM DASHBOARD - MINIMAL\n// Smart Energy Finance Premium\n//\n// Logique :\n// - dashboard_custom_cards_installed = true  -> structure premium prête\n// - dashboard_custom_cards_installed = false -> fallback natif HA\n//\n// Langue :\n// - pilotée par l'option add-on dashboard_language\n// - valeurs supportées : en / fr\n//\n// Règle :\n// - on traduit les TITRES / CARTES / SOUS-TITRES / VUES\n// - on ne change pas les entités\n// ===============================\n\nconst premiumActive = global.get(\"premium.active\") === true;\nif (!premiumActive) {\n    node.warn(\"Premium inactif -> pas de dashboard premium\");\n    return null;\n}\n\nconst customCardsInstalled = global.get(\"config.dashboardCustomCardsInstalled\") === true;\nconst lang = String(global.get(\"config.dashboardLanguage\") || \"en\").trim().toLowerCase();\n\nconst i18n = {\n    fr: {\n        title: \"Smart Energy Finance Premium\",\n        icon: \"mdi:finance\",\n        view_overview: \"Vue générale\",\n        premium_view: \"Vue premium minimale\",\n        status_title: \"Statut premium\",\n        status_sub: \"Base dashboard prête à enrichir\",\n        metrics_title: \"Indicateurs\",\n        metrics_sub: \"Premiers capteurs finance\",\n        note: \"Dashboard minimal en place. La structure premium est prête, le contenu détaillé sera ajouté ensuite.\"\n    },\n    en: {\n        title: \"Smart Energy Finance Premium\",\n        icon: \"mdi:finance\",\n        view_overview: \"Overview\",\n        premium_view: \"Minimal premium view\",\n        status_title: \"Premium status\",\n        status_sub: \"Dashboard base ready for extension\",\n        metrics_title: \"Metrics\",\n        metrics_sub: \"First finance sensors\",\n        note: \"Minimal dashboard is in place. The premium structure is ready, detailed content will be added later.\"\n    }\n};\n\nconst t = i18n[lang] || i18n.en;\n\nconst statusCards = [\n    { type: \"markdown\", title: t.status_title, content: t.note },\n    {\n        type: \"entities\",\n        title: t.status_sub,\n        entities: [\n            \"sensor.sef_active_tariff_name\",\n            \"sensor.sef_active_import_price\",\n            \"sensor.smart_energy_finance_premium_status\",\n            \"binary_sensor.smart_energy_finance_premium_active\"\n        ]\n    }\n];\n\nconst metricCards = customCardsInstalled ? [\n    {\n        type: \"grid\",\n        columns: 2,\n        square: false,\n        cards: [\n            { type: \"tile\", entity: \"sensor.sef_day_import_cost\", name: \"Import\" },\n            { type: \"tile\", entity: \"sensor.sef_day_export_revenue\", name: \"Export\" },\n            { type: \"tile\", entity: \"sensor.sef_day_self_sufficiency_pct\", name: \"Auto\" },\n            { type: \"tile\", entity: \"sensor.sef_day_grid_dependency_pct\", name: \"Grid\" }\n        ]\n    }\n] : [\n    {\n        type: \"entities\",\n        title: t.metrics_sub,\n        entities: [\n            \"sensor.sef_day_import_cost\",\n            \"sensor.sef_day_export_revenue\",\n            \"sensor.sef_day_self_sufficiency_pct\",\n            \"sensor.sef_day_grid_dependency_pct\"\n        ]\n    }\n];\n\nconst dashboard = {\n    title: t.title,\n    icon: t.icon,\n    views: [\n        {\n            title: t.view_overview,\n            path: \"overview\",\n            icon: \"mdi:finance\",\n            cards: [\n                ...statusCards,\n                ...metricCards\n            ]\n        }\n    ]\n};\n\nmsg.payload = JSON.stringify(dashboard, null, 2);\nmsg.filename = \"/config/dashboards/smart_energy_finance.json\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":40,"wires":[["0e6f53efd4fd0af3"]]},{"id":"0e6f53efd4fd0af3","type":"file","z":"1f0153acfb2b7b84","name":"dashboard","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":790,"y":40,"wires":[["e6bee90583729d8d"]]},{"id":"e6bee90583729d8d","type":"exec","z":"1f0153acfb2b7b84","command":"node /addon/dashboard_sync.js upsert /config/dashboards/smart_energy_finance.json","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"EXEC DASHBOARD SCRIPT","x":1090,"y":40,"wires":[[],[],[]]},{"id":"4bb106fa32217f97","type":"function","z":"1f0153acfb2b7b84","name":"BUILD DELETE DASHBOARD","func":"msg.filename = \"/config/dashboards/smart_energy_finance.json\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":120,"wires":[["8996a11b8fde87da"]]},{"id":"8996a11b8fde87da","type":"exec","z":"1f0153acfb2b7b84","command":"node /addon/dashboard_sync.js delete /config/dashboards/smart_energy_finance.json","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"EXEC DELETE","x":1040,"y":120,"wires":[[],[],[]]}]