smart-energy-finance/flows.json
[{"id":"tab_energy_finance_main","type":"tab","label":"Smart Energy Finance","disabled":false,"info":""},{"id":"tab_energy_finance_discovery","type":"tab","label":"MQTT Discovery","disabled":false,"info":""},{"id":"mqtt_broker_main","type":"mqtt-broker","name":"HA MQTT Broker","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"smart_energy_finance/availability","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"smart_energy_finance/availability","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"smart_energy_finance/availability","willQos":"0","willRetain":"true","willPayload":"offline","userProps":"","sessionExpiry":""},{"id":"inject_startup","type":"inject","z":"tab_energy_finance_main","name":"Startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"5","x":110,"y":80,"wires":[["fn_prepare_cycle"]]},{"id":"inject_loop","type":"inject","z":"tab_energy_finance_main","name":"Loop 20s","props":[],"repeat":"20","crontab":"","once":false,"onceDelay":"","topic":"","x":110,"y":140,"wires":[["fn_prepare_cycle"]]},{"id":"fn_prepare_cycle","type":"function","z":"tab_energy_finance_main","name":"Prepare + Read Config","func":"const tz = env.get(\"ADDON_TIMEZONE\") || \"UTC\";\nconst contractType = String(env.get(\"CONTRACT_TYPE\") || \"fixed\").trim();\nconst currency = String(env.get(\"CURRENCY\") || \"EUR\").trim();\nconst mqttPrefix = String(env.get(\"MQTT_PREFIX\") || \"smart_energy_finance\").trim() || \"smart_energy_finance\";\n\nmsg.cfg = {\n    tz,\n    contractType,\n    currency,\n    mqttPrefix,\n    monthlySubscriptionPrice: Number(env.get(\"MONTHLY_SUBSCRIPTION_PRICE\") || 0),\n    fixedImportPrice: Number(env.get(\"FIXED_IMPORT_PRICE\") || 0),\n    fixedExportPrice: Number(env.get(\"FIXED_EXPORT_PRICE\") || 0),\n\n    tariff1: { name: String(env.get(\"TARIFF_1_NAME\") || \"\").trim(), price: Number(env.get(\"TARIFF_1_PRICE\") || 0), start: String(env.get(\"TARIFF_1_START\") || \"\").trim(), end: String(env.get(\"TARIFF_1_END\") || \"\").trim() },\n    tariff2: { name: String(env.get(\"TARIFF_2_NAME\") || \"\").trim(), price: Number(env.get(\"TARIFF_2_PRICE\") || 0), start: String(env.get(\"TARIFF_2_START\") || \"\").trim(), end: String(env.get(\"TARIFF_2_END\") || \"\").trim() },\n    tariff3: { name: String(env.get(\"TARIFF_3_NAME\") || \"\").trim(), price: Number(env.get(\"TARIFF_3_PRICE\") || 0), start: String(env.get(\"TARIFF_3_START\") || \"\").trim(), end: String(env.get(\"TARIFF_3_END\") || \"\").trim() },\n    tariff4: { name: String(env.get(\"TARIFF_4_NAME\") || \"\").trim(), price: Number(env.get(\"TARIFF_4_PRICE\") || 0), start: String(env.get(\"TARIFF_4_START\") || \"\").trim(), end: String(env.get(\"TARIFF_4_END\") || \"\").trim() },\n\n    tempo: {\n        colorEntity: String(env.get(\"TEMPO_COLOR_ENTITY\") || \"\").trim(),\n        blueHc: Number(env.get(\"TEMPO_BLUE_HC_PRICE\") || 0),\n        blueHp: Number(env.get(\"TEMPO_BLUE_HP_PRICE\") || 0),\n        whiteHc: Number(env.get(\"TEMPO_WHITE_HC_PRICE\") || 0),\n        whiteHp: Number(env.get(\"TEMPO_WHITE_HP_PRICE\") || 0),\n        redHc: Number(env.get(\"TEMPO_RED_HC_PRICE\") || 0),\n        redHp: Number(env.get(\"TEMPO_RED_HP_PRICE\") || 0),\n        hcSlot1Start: String(env.get(\"TEMPO_HC_SLOT_1_START\") || \"22:00\").trim(),\n        hcSlot1End: String(env.get(\"TEMPO_HC_SLOT_1_END\") || \"06:00\").trim(),\n        hcSlot2Start: String(env.get(\"TEMPO_HC_SLOT_2_START\") || \"\").trim(),\n        hcSlot2End: String(env.get(\"TEMPO_HC_SLOT_2_END\") || \"\").trim(),\n        hcSlot3Start: String(env.get(\"TEMPO_HC_SLOT_3_START\") || \"\").trim(),\n        hcSlot3End: String(env.get(\"TEMPO_HC_SLOT_3_END\") || \"\").trim()\n    },\n\n    solarEnabled: String(env.get(\"SOLAR_ENABLED\") || \"false\") === \"true\",\n    solarInputMode: String(env.get(\"SOLAR_INPUT_MODE\") || \"energy\").trim(),\n    solarEnergyEntity: String(env.get(\"SOLAR_ENERGY_ENTITY\") || \"\").trim(),\n    solarPowerEntity: String(env.get(\"SOLAR_POWER_ENTITY\") || \"\").trim(),\n\n    loadEnabled: String(env.get(\"LOAD_ENABLED\") || \"false\") === \"true\",\n    loadInputMode: String(env.get(\"LOAD_INPUT_MODE\") || \"energy\").trim(),\n    loadEnergyEntity: String(env.get(\"LOAD_ENERGY_ENTITY\") || \"\").trim(),\n    loadPowerEntity: String(env.get(\"LOAD_POWER_ENTITY\") || \"\").trim(),\n\n    batteryEnabled: String(env.get(\"BATTERY_ENABLED\") || \"false\") === \"true\",\n    batteryInputMode: String(env.get(\"BATTERY_INPUT_MODE\") || \"energy\").trim(),\n    batteryChargeEnergyEntity: String(env.get(\"BATTERY_CHARGE_ENERGY_ENTITY\") || \"\").trim(),\n    batteryDischargeEnergyEntity: String(env.get(\"BATTERY_DISCHARGE_ENERGY_ENTITY\") || \"\").trim(),\n    batteryChargePowerEntity: String(env.get(\"BATTERY_CHARGE_POWER_ENTITY\") || \"\").trim(),\n    batteryDischargePowerEntity: String(env.get(\"BATTERY_DISCHARGE_POWER_ENTITY\") || \"\").trim(),\n\n    gridEnabled: String(env.get(\"GRID_ENABLED\") || \"false\") === \"true\",\n    gridInputMode: String(env.get(\"GRID_INPUT_MODE\") || \"energy\").trim(),\n    gridImportEnergyEntity: String(env.get(\"GRID_IMPORT_ENERGY_ENTITY\") || \"\").trim(),\n    gridExportEnergyEntity: String(env.get(\"GRID_EXPORT_ENERGY_ENTITY\") || \"\").trim(),\n    gridImportPowerEntity: String(env.get(\"GRID_IMPORT_POWER_ENTITY\") || \"\").trim(),\n    gridExportPowerEntity: String(env.get(\"GRID_EXPORT_POWER_ENTITY\") || \"\").trim()\n};\n\nreturn msg;","outputs":1,"x":330,"y":110,"wires":[["fn_build_ha_states_request"]]},{"id":"fn_build_ha_states_request","type":"function","z":"tab_energy_finance_main","name":"Build HA States Request","func":"const token = process.env.SUPERVISOR_TOKEN || \"\";\nif (!token) {\n    node.error(\"SUPERVISOR_TOKEN introuvable\");\n    return null;\n}\n\nmsg.method = \"GET\";\nmsg.url = \"http://supervisor/core/api/states\";\nmsg.headers = {\n    Authorization: `Bearer ${token}`,\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;","outputs":1,"x":580,"y":110,"wires":[["http_read_ha_states"]]},{"id":"http_read_ha_states","type":"http request","z":"tab_energy_finance_main","name":"Read HA States API","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":800,"y":110,"wires":[["fn_extract_configured_entities"]]},{"id":"fn_extract_configured_entities","type":"function","z":"tab_energy_finance_main","name":"Extract Configured Entities","func":"const cfg = msg.cfg;\nconst list = Array.isArray(msg.payload) ? msg.payload : [];\n\nconst states = {};\nfor (const item of list) {\n    if (item && item.entity_id) {\n        states[item.entity_id] = item;\n    }\n}\n\nfunction num(entityId) {\n    if (!entityId || !states[entityId]) return 0;\n    const n = Number(states[entityId].state);\n    return Number.isFinite(n) ? n : 0;\n}\n\nfunction str(entityId) {\n    if (!entityId || !states[entityId]) return \"\";\n    return String(states[entityId].state || \"\").trim();\n}\n\nmsg.inputs = {\n    solarDay: cfg.solarEnabled && cfg.solarInputMode === \"energy\" ? num(cfg.solarEnergyEntity) : 0,\n    loadDay: cfg.loadEnabled && cfg.loadInputMode === \"energy\" ? num(cfg.loadEnergyEntity) : 0,\n    gridImportDay: cfg.gridEnabled && cfg.gridInputMode === \"energy\" ? num(cfg.gridImportEnergyEntity) : 0,\n    gridExportDay: cfg.gridEnabled && cfg.gridInputMode === \"energy\" ? num(cfg.gridExportEnergyEntity) : 0,\n    batteryChargeDay: cfg.batteryEnabled && cfg.batteryInputMode === \"energy\" ? num(cfg.batteryChargeEnergyEntity) : 0,\n    batteryDischargeDay: cfg.batteryEnabled && cfg.batteryInputMode === \"energy\" ? num(cfg.batteryDischargeEnergyEntity) : 0,\n\n    solarPower: cfg.solarEnabled && cfg.solarInputMode === \"power\" ? num(cfg.solarPowerEntity) : 0,\n    loadPower: cfg.loadEnabled && cfg.loadInputMode === \"power\" ? num(cfg.loadPowerEntity) : 0,\n    gridImportPower: cfg.gridEnabled && cfg.gridInputMode === \"power\" ? num(cfg.gridImportPowerEntity) : 0,\n    gridExportPower: cfg.gridEnabled && cfg.gridInputMode === \"power\" ? num(cfg.gridExportPowerEntity) : 0,\n    batteryChargePower: cfg.batteryEnabled && cfg.batteryInputMode === \"power\" ? num(cfg.batteryChargePowerEntity) : 0,\n    batteryDischargePower: cfg.batteryEnabled && cfg.batteryInputMode === \"power\" ? num(cfg.batteryDischargePowerEntity) : 0,\n\n    tempoColorRaw: cfg.contractType === \"tempo\" ? str(cfg.tempo.colorEntity) : \"\"\n};\n\nreturn msg;","outputs":1,"x":1040,"y":110,"wires":[["fn_daily_store_and_calc"]]},{"id":"fn_daily_store_and_calc","type":"function","z":"tab_energy_finance_main","name":"Daily Store + Finance Engine","func":"const cfg = msg.cfg;\nconst inputs = msg.inputs || {};\n\nfunction round(v, d = 4) {\n    return Number((Number(v || 0)).toFixed(d));\n}\n\nfunction hhmmToMinutes(s) {\n    if (!s || !/^\\d{2}:\\d{2}$/.test(s)) return null;\n    const [h, m] = s.split(\":\").map(Number);\n    if (!Number.isInteger(h) || !Number.isInteger(m)) return null;\n    if (h < 0 || h > 23 || m < 0 || m > 59) return null;\n    return h * 60 + m;\n}\n\nfunction minuteOfDay(t) {\n    return (Number(t.hour) * 60) + Number(t.minute);\n}\n\nfunction isMinuteInRange(minute, start, end) {\n    const s = hhmmToMinutes(start);\n    const e = hhmmToMinutes(end);\n    if (s === null || e === null) return false;\n    if (s === e) return true;\n    if (s < e) return minute >= s && minute < e;\n    return minute >= s || minute < e;\n}\n\nfunction normalizeTempoColor(v) {\n    const s = String(v || \"\").trim().toLowerCase();\n    if (s === \"bleu\") return \"blue\";\n    if (s === \"blanc\") return \"white\";\n    if (s === \"rouge\") return \"red\";\n    if (s === \"inconnu\") return \"unknown\";\n    return \"unknown\";\n}\n\nfunction isTempoHc(minute, tempoCfg) {\n    return (\n        isMinuteInRange(minute, tempoCfg.hcSlot1Start, tempoCfg.hcSlot1End) ||\n        (tempoCfg.hcSlot2Start && tempoCfg.hcSlot2End && isMinuteInRange(minute, tempoCfg.hcSlot2Start, tempoCfg.hcSlot2End)) ||\n        (tempoCfg.hcSlot3Start && tempoCfg.hcSlot3End && isMinuteInRange(minute, tempoCfg.hcSlot3Start, tempoCfg.hcSlot3End))\n    );\n}\n\nfunction dateParts(tz) {\n    const parts = new Intl.DateTimeFormat(\"en-CA\", {\n        timeZone: tz,\n        year: \"numeric\",\n        month: \"2-digit\",\n        day: \"2-digit\",\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false\n    }).formatToParts(new Date());\n\n    const m = {};\n    for (const p of parts) {\n        if (p.type !== \"literal\") m[p.type] = p.value;\n    }\n\n    return {\n        year: m.year,\n        month: m.month,\n        day: m.day,\n        hour: m.hour,\n        minute: m.minute,\n        second: m.second,\n        dayKey: `${m.year}-${m.month}-${m.day}`,\n        monthKey: `${m.year}-${m.month}`,\n        yearKey: `${m.year}`\n    };\n}\n\nfunction emptyEnergy() {\n    return {\n        solar: 0,\n        load: 0,\n        gridImport: 0,\n        gridExport: 0,\n        batteryCharge: 0,\n        batteryDischarge: 0\n    };\n}\n\nfunction currentDaySnapshot(inputs) {\n    return {\n        solar: Number(inputs.solarDay || 0),\n        load: Number(inputs.loadDay || 0),\n        gridImport: Number(inputs.gridImportDay || 0),\n        gridExport: Number(inputs.gridExportDay || 0),\n        batteryCharge: Number(inputs.batteryChargeDay || 0),\n        batteryDischarge: Number(inputs.batteryDischargeDay || 0)\n    };\n}\n\nfunction addEnergy(a, b) {\n    return {\n        solar: round(Number(a.solar || 0) + Number(b.solar || 0), 6),\n        load: round(Number(a.load || 0) + Number(b.load || 0), 6),\n        gridImport: round(Number(a.gridImport || 0) + Number(b.gridImport || 0), 6),\n        gridExport: round(Number(a.gridExport || 0) + Number(b.gridExport || 0), 6),\n        batteryCharge: round(Number(a.batteryCharge || 0) + Number(b.batteryCharge || 0), 6),\n        batteryDischarge: round(Number(a.batteryDischarge || 0) + Number(b.batteryDischarge || 0), 6)\n    };\n}\n\nfunction proratedSubscription(periodName, monthlyPrice, time) {\n    const p = Number(monthlyPrice || 0);\n    if (!p) return 0;\n    if (periodName === \"day\") {\n        const daysInMonth = new Date(Number(time.year), Number(time.month), 0).getDate();\n        return p / daysInMonth;\n    }\n    if (periodName === \"month\") return p;\n    if (periodName === \"year\") return p * 12;\n    return 0;\n}\n\nconst now = dateParts(cfg.tz || \"UTC\");\n\nlet store = flow.get(\"finance_store\", \"persistent\") || {\n    keys: {\n        dayKey: now.dayKey,\n        monthKey: now.monthKey,\n        yearKey: now.yearKey\n    },\n    closedDayMonthAccumulator: emptyEnergy(),\n    closedDayYearAccumulator: emptyEnergy(),\n    currentDaySnapshot: emptyEnergy(),\n    lastClosedDayKey: \"\",\n    meta: {\n        lastTempoColor: \"\",\n        lastTariffName: \"\",\n        lastTariffPeriod: \"\",\n        lastRun: \"\"\n    }\n};\n\nconst liveDay = currentDaySnapshot(inputs);\n\nconst oldDayKey = store.keys.dayKey;\nconst oldMonthKey = store.keys.monthKey;\nconst oldYearKey = store.keys.yearKey;\n\nif (oldDayKey !== now.dayKey) {\n    if (store.lastClosedDayKey !== oldDayKey) {\n        store.closedDayMonthAccumulator = addEnergy(store.closedDayMonthAccumulator, store.currentDaySnapshot);\n        store.closedDayYearAccumulator = addEnergy(store.closedDayYearAccumulator, store.currentDaySnapshot);\n        store.lastClosedDayKey = oldDayKey;\n    }\n\n    if (oldMonthKey !== now.monthKey) {\n        store.closedDayMonthAccumulator = emptyEnergy();\n    }\n\n    if (oldYearKey !== now.yearKey) {\n        store.closedDayYearAccumulator = emptyEnergy();\n    }\n}\n\nstore.keys = {\n    dayKey: now.dayKey,\n    monthKey: now.monthKey,\n    yearKey: now.yearKey\n};\n\nstore.currentDaySnapshot = liveDay;\nstore.meta.lastRun = new Date().toISOString();\n\nfunction getCurrentTariff() {\n    const minute = minuteOfDay(now);\n\n    if (cfg.contractType === \"fixed\") {\n        return {\n            mode: \"fixed\",\n            name: \"fixed\",\n            period: \"fixed\",\n            importPrice: Number(cfg.fixedImportPrice || 0),\n            exportPrice: Number(cfg.fixedExportPrice || 0),\n            tempoColor: \"\",\n            tempoColorRaw: \"\",\n            isTempoHc: false\n        };\n    }\n\n    if (cfg.contractType === \"time_based\") {\n        const tariffs = [cfg.tariff1, cfg.tariff2, cfg.tariff3, cfg.tariff4].filter(t => t && t.name && t.start && t.end);\n        for (const t of tariffs) {\n            if (isMinuteInRange(minute, t.start, t.end)) {\n                return {\n                    mode: \"time_based\",\n                    name: t.name,\n                    period: t.name,\n                    importPrice: Number(t.price || 0),\n                    exportPrice: Number(cfg.fixedExportPrice || 0),\n                    tempoColor: \"\",\n                    tempoColorRaw: \"\",\n                    isTempoHc: false\n                };\n            }\n        }\n\n        return {\n            mode: \"time_based\",\n            name: \"unmatched\",\n            period: \"unmatched\",\n            importPrice: 0,\n            exportPrice: Number(cfg.fixedExportPrice || 0),\n            tempoColor: \"\",\n            tempoColorRaw: \"\",\n            isTempoHc: false\n        };\n    }\n\n    if (cfg.contractType === \"tempo\") {\n        const colorRaw = String(inputs.tempoColorRaw || \"\").trim();\n        const color = normalizeTempoColor(colorRaw);\n        const hc = isTempoHc(minute, cfg.tempo);\n\n        let importPrice = 0;\n        let name = \"tempo_unknown\";\n        const period = hc ? \"hc\" : \"hp\";\n\n        if (color === \"blue\") {\n            importPrice = hc ? Number(cfg.tempo.blueHc || 0) : Number(cfg.tempo.blueHp || 0);\n            name = hc ? \"tempo_blue_hc\" : \"tempo_blue_hp\";\n        } else if (color === \"white\") {\n            importPrice = hc ? Number(cfg.tempo.whiteHc || 0) : Number(cfg.tempo.whiteHp || 0);\n            name = hc ? \"tempo_white_hc\" : \"tempo_white_hp\";\n        } else if (color === \"red\") {\n            importPrice = hc ? Number(cfg.tempo.redHc || 0) : Number(cfg.tempo.redHp || 0);\n            name = hc ? \"tempo_red_hc\" : \"tempo_red_hp\";\n        }\n\n        return {\n            mode: \"tempo\",\n            name,\n            period,\n            importPrice,\n            exportPrice: Number(cfg.fixedExportPrice || 0),\n            tempoColor: color,\n            tempoColorRaw: colorRaw || \"inconnu\",\n            isTempoHc: hc\n        };\n    }\n\n    return {\n        mode: \"fixed\",\n        name: \"fixed\",\n        period: \"fixed\",\n        importPrice: Number(cfg.fixedImportPrice || 0),\n        exportPrice: Number(cfg.fixedExportPrice || 0),\n        tempoColor: \"\",\n        tempoColorRaw: \"\",\n        isTempoHc: false\n    };\n}\n\nconst tariff = getCurrentTariff();\n\nfunction buildPeriodFinance(acc, periodName) {\n    const importEnergy = Number(acc.gridImport || 0);\n    const exportEnergy = Number(acc.gridExport || 0);\n    const loadEnergy = Number(acc.load || 0);\n    const solarEnergy = Number(acc.solar || 0);\n    const batteryCharge = Number(acc.batteryCharge || 0);\n    const batteryDischarge = Number(acc.batteryDischarge || 0);\n\n    const importCost = importEnergy * Number(tariff.importPrice || 0);\n    const exportRevenue = exportEnergy * Number(tariff.exportPrice || 0);\n    const theoreticalNoSolarCost = loadEnergy * Number(tariff.importPrice || 0);\n    const subscriptionCost = proratedSubscription(periodName, cfg.monthlySubscriptionPrice, now);\n    const realTotalWithSubscription = importCost + subscriptionCost - exportRevenue;\n    const savingsVsNoSolar = theoreticalNoSolarCost - importCost + exportRevenue;\n\n    let selfSufficiencyPct = 0;\n    if (loadEnergy > 0) {\n        selfSufficiencyPct = ((Math.max(0, loadEnergy - importEnergy)) / loadEnergy) * 100;\n    }\n\n    let gridDependencyPct = 0;\n    if (loadEnergy > 0) {\n        gridDependencyPct = (importEnergy / loadEnergy) * 100;\n    }\n\n    return {\n        energy: {\n            solar_kwh: round(solarEnergy),\n            load_kwh: round(loadEnergy),\n            grid_import_kwh: round(importEnergy),\n            grid_export_kwh: round(exportEnergy),\n            battery_charge_kwh: round(batteryCharge),\n            battery_discharge_kwh: round(batteryDischarge)\n        },\n        finance: {\n            import_cost: round(importCost),\n            export_revenue: round(exportRevenue),\n            subscription_cost: round(subscriptionCost),\n            theoretical_no_solar_cost: round(theoreticalNoSolarCost),\n            real_total_with_subscription: round(realTotalWithSubscription),\n            savings_vs_no_solar: round(savingsVsNoSolar)\n        },\n        ratios: {\n            self_sufficiency_pct: round(selfSufficiencyPct, 2),\n            grid_dependency_pct: round(gridDependencyPct, 2)\n        }\n    };\n}\n\nconst dayEnergy = liveDay;\nconst monthEnergy = addEnergy(store.closedDayMonthAccumulator, liveDay);\nconst yearEnergy = addEnergy(store.closedDayYearAccumulator, liveDay);\n\nstore.meta.lastTempoColor = tariff.tempoColor;\nstore.meta.lastTariffName = tariff.name;\nstore.meta.lastTariffPeriod = tariff.period;\nflow.set(\"finance_store\", store, \"persistent\");\n\nif (cfg.contractType === \"tempo\") {\n    node.status({\n        fill: tariff.tempoColor === \"unknown\" ? \"grey\" : \"green\",\n        shape: \"dot\",\n        text: `tempo ${tariff.tempoColorRaw || \"inconnu\"} / ${tariff.period}`\n    });\n} else {\n    node.status({\n        fill: \"blue\",\n        shape: \"dot\",\n        text: `${cfg.contractType} / ${tariff.name}`\n    });\n}\n\nmsg.payload = {\n    info: {\n        module: \"smart_energy_finance\",\n        version: \"0.1.0\",\n        currency: cfg.currency,\n        timezone: cfg.tz,\n        contract_type: cfg.contractType,\n        active_tariff_name: tariff.name,\n        active_tariff_period: tariff.period,\n        active_import_price: round(tariff.importPrice, 6),\n        active_export_price: round(tariff.exportPrice, 6),\n        tempo_color: tariff.tempoColor,\n        tempo_color_raw: tariff.tempoColorRaw || \"inconnu\",\n        tempo_is_hc: tariff.isTempoHc,\n        day_key: now.dayKey,\n        month_key: now.monthKey,\n        year_key: now.yearKey,\n        updated_at: new Date().toISOString()\n    },\n    current_inputs: {\n        solar_day_kwh: inputs.solarDay,\n        load_day_kwh: inputs.loadDay,\n        grid_import_day_kwh: inputs.gridImportDay,\n        grid_export_day_kwh: inputs.gridExportDay,\n        battery_charge_day_kwh: inputs.batteryChargeDay,\n        battery_discharge_day_kwh: inputs.batteryDischargeDay,\n        solar_power_w: inputs.solarPower,\n        load_power_w: inputs.loadPower,\n        grid_import_power_w: inputs.gridImportPower,\n        grid_export_power_w: inputs.gridExportPower,\n        battery_charge_power_w: inputs.batteryChargePower,\n        battery_discharge_power_w: inputs.batteryDischargePower\n    },\n    day: buildPeriodFinance(dayEnergy, \"day\"),\n    month: buildPeriodFinance(monthEnergy, \"month\"),\n    year: buildPeriodFinance(yearEnergy, \"year\")\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":110,"wires":[["json_state_stringify"]]},{"id":"json_state_stringify","type":"json","z":"tab_energy_finance_main","name":"To JSON","property":"payload","action":"str","pretty":false,"x":1470,"y":110,"wires":[["mqtt_state_out"]]},{"id":"mqtt_state_out","type":"mqtt out","z":"tab_energy_finance_main","name":"MQTT State","topic":"smart_energy_finance/state","qos":"0","retain":"true","broker":"mqtt_broker_main","x":1650,"y":110,"wires":[]},{"id":"inject_discovery_start","type":"inject","z":"tab_energy_finance_discovery","name":"Discovery at startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"12","x":150,"y":100,"wires":[["fn_build_discovery"]]},{"id":"inject_discovery_daily","type":"inject","z":"tab_energy_finance_discovery","name":"Discovery every 12h","props":[],"repeat":"43200","crontab":"","once":false,"onceDelay":"","x":150,"y":160,"wires":[["fn_build_discovery"]]},{"id":"fn_build_discovery","type":"function","z":"tab_energy_finance_discovery","name":"Build Discovery Messages","func":"const prefix = String(env.get('MQTT_PREFIX') || 'smart_energy_finance').trim() || 'smart_energy_finance';\nconst currency = String(env.get('CURRENCY') || 'EUR').trim() || 'EUR';\nconst stateTopic = `${prefix}/state`;\nconst availabilityTopic = `${prefix}/availability`;\nconst device = {\n  identifiers:['smart_energy_finance'],\n  name:'Smart Energy Finance',\n  manufacturer:'OpenAI User Project',\n  model:'Node-RED Energy Finance Engine',\n  sw_version:'0.1.0'\n};\n\nconst sensors = [\n  ['sef_day_import_cost','SEF Day Import Cost','{{ value_json.day.finance.import_cost }}',currency,'mdi:cash'],\n  ['sef_day_export_revenue','SEF Day Export Revenue','{{ value_json.day.finance.export_revenue }}',currency,'mdi:cash-plus'],\n  ['sef_day_subscription_cost','SEF Day Subscription Cost','{{ value_json.day.finance.subscription_cost }}',currency,'mdi:calendar-month'],\n  ['sef_day_theoretical_no_solar_cost','SEF Day Theoretical No Solar Cost','{{ value_json.day.finance.theoretical_no_solar_cost }}',currency,'mdi:cash-remove'],\n  ['sef_day_real_total_with_subscription','SEF Day Real Total With Subscription','{{ value_json.day.finance.real_total_with_subscription }}',currency,'mdi:receipt'],\n  ['sef_day_savings_vs_no_solar','SEF Day Savings Vs No Solar','{{ value_json.day.finance.savings_vs_no_solar }}',currency,'mdi:cash-check'],\n  ['sef_month_savings_vs_no_solar','SEF Month Savings Vs No Solar','{{ value_json.month.finance.savings_vs_no_solar }}',currency,'mdi:cash-check'],\n  ['sef_year_savings_vs_no_solar','SEF Year Savings Vs No Solar','{{ value_json.year.finance.savings_vs_no_solar }}',currency,'mdi:cash-check'],\n  ['sef_day_grid_import_kwh','SEF Day Grid Import','{{ value_json.day.energy.grid_import_kwh }}','kWh','mdi:transmission-tower-import'],\n  ['sef_day_grid_export_kwh','SEF Day Grid Export','{{ value_json.day.energy.grid_export_kwh }}','kWh','mdi:transmission-tower-export'],\n  ['sef_day_solar_kwh','SEF Day Solar','{{ value_json.day.energy.solar_kwh }}','kWh','mdi:solar-power'],\n  ['sef_day_load_kwh','SEF Day Load','{{ value_json.day.energy.load_kwh }}','kWh','mdi:home-lightning-bolt'],\n  ['sef_day_self_sufficiency_pct','SEF Day Self Sufficiency','{{ value_json.day.ratios.self_sufficiency_pct }}','%','mdi:percent'],\n  ['sef_day_grid_dependency_pct','SEF Day Grid Dependency','{{ value_json.day.ratios.grid_dependency_pct }}','%','mdi:percent-box'],\n  ['sef_active_tariff_name','SEF Active Tariff Name','{{ value_json.info.active_tariff_name }}','','mdi:label'],\n  ['sef_active_import_price','SEF Active Import Price','{{ value_json.info.active_import_price }}',currency,'mdi:cash-clock'],\n  ['sef_tempo_color','SEF Tempo Color','{{ value_json.info.tempo_color_raw }}','','mdi:palette']\n];\n\nconst msgs = [];\nfor (const s of sensors) {\n  const payload = {\n    name: s[1],\n    unique_id: s[0],\n    state_topic: stateTopic,\n    availability_topic: availabilityTopic,\n    payload_available: 'online',\n    payload_not_available: 'offline',\n    value_template: s[2],\n    device,\n    icon: s[4]\n  };\n  if (s[3]) payload.unit_of_measurement = s[3];\n  msgs.push({ topic:`homeassistant/sensor/${s[0]}/config`, payload:JSON.stringify(payload), retain:true });\n}\nmsgs.push({ topic: availabilityTopic, payload:'online', retain:true });\nmsg.payload = msgs;\nreturn msg;","outputs":1,"x":420,"y":130,"wires":[["split_discovery"]]},{"id":"split_discovery","type":"split","z":"tab_energy_finance_discovery","name":"One by one","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":660,"y":130,"wires":[["fn_fix_split_msg"]]},{"id":"fn_fix_split_msg","type":"function","z":"tab_energy_finance_discovery","name":"Normalize Split Item","func":"if (msg.payload && typeof msg.payload === 'object' && msg.payload.topic) return msg.payload;\nif (Array.isArray(msg.payload) && msg.payload.length) return msg.payload[0];\nreturn msg;","outputs":1,"x":900,"y":130,"wires":[["mqtt_discovery_out"]]},{"id":"mqtt_discovery_out","type":"mqtt out","z":"tab_energy_finance_discovery","name":"MQTT Discovery Out","topic":"","qos":"0","retain":"true","broker":"mqtt_broker_main","x":1150,"y":130,"wires":[]}]