smart-energy-finance/flows.json
[{"id":"tab_main","type":"tab","label":"Energy Finance","disabled":false},{"id":"b5d00f243f572b42","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"mqtt_broker","type":"mqtt-broker","name":"HA MQTT Broker","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":15,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"inject_loop","type":"inject","z":"tab_main","name":"Loop 20s","props":[{"p":"payload","v":"","vt":"str"},{"p":"topic","v":"","vt":"str"}],"repeat":"20","once":true,"onceDelay":"5","x":120,"y":80,"wires":[["read_entities"]]},{"id":"read_entities","type":"function","z":"tab_main","name":"Read HA Entities","func":"const ha = global.get(\"homeassistant\").homeAssistant.states;\n\nfunction getNum(entity) {\n    if (!entity || !ha[entity]) return 0;\n    return Number(ha[entity].state) || 0;\n}\n\nmsg.payload = {\n    solar: getNum(env.get(\"SOLAR_ENERGY_ENTITY\")),\n    load: getNum(env.get(\"LOAD_ENERGY_ENTITY\")),\n    grid: getNum(env.get(\"GRID_IMPORT_ENERGY_ENTITY\"))\n};\n\nreturn msg;","outputs":1,"x":330,"y":80,"wires":[["delta_calc"]]},{"id":"delta_calc","type":"function","z":"tab_main","name":"Delta Secure","func":"let prev = flow.get(\"prev\", \"persistent\") || {solar:0, load:0, grid:0};\nlet cur = msg.payload;\n\nfunction delta(a,b){ return Math.max(a-b,0); }\n\nlet d = {\n    solar: delta(cur.solar, prev.solar),\n    load: delta(cur.load, prev.load),\n    grid: delta(cur.grid, prev.grid)\n};\n\nflow.set(\"prev\", cur, \"persistent\");\nmsg.delta = d;\nreturn msg;","outputs":1,"x":550,"y":80,"wires":[["time_manager"]]},{"id":"time_manager","type":"function","z":"tab_main","name":"Time + Reset Manager","func":"const tz = env.get(\"ADDON_TIMEZONE\") || \"UTC\";\n\nconst now = new Date();\nconst fmtDay = new Intl.DateTimeFormat(\"en-CA\", { timeZone: tz, year:\"numeric\", month:\"2-digit\", day:\"2-digit\" });\nconst fmtMonth = new Intl.DateTimeFormat(\"en-CA\", { timeZone: tz, year:\"numeric\", month:\"2-digit\" });\nconst fmtYear = new Intl.DateTimeFormat(\"en-CA\", { timeZone: tz, year:\"numeric\" });\n\nconst dayKey = fmtDay.format(now);\nconst monthKey = fmtMonth.format(now);\nconst yearKey = fmtYear.format(now);\n\nlet keys = flow.get(\"keys\", \"persistent\") || {};\nlet energy = flow.get(\"energy\", \"persistent\") || {\n    day:{solar:0,load:0,grid:0},\n    month:{solar:0,load:0,grid:0},\n    year:{solar:0,load:0,grid:0}\n};\n\n// RESET DAY\nif (keys.day !== dayKey) {\n    energy.day = {solar:0,load:0,grid:0};\n}\n\n// RESET MONTH\nif (keys.month !== monthKey) {\n    energy.month = {solar:0,load:0,grid:0};\n}\n\n// RESET YEAR\nif (keys.year !== yearKey) {\n    energy.year = {solar:0,load:0,grid:0};\n}\n\nkeys = { day: dayKey, month: monthKey, year: yearKey };\n\nflow.set(\"keys\", keys, \"persistent\");\nflow.set(\"energy\", energy, \"persistent\");\n\nmsg.energy = energy;\nreturn msg;","outputs":1,"x":760,"y":80,"wires":[["accumulate"]]},{"id":"accumulate","type":"function","z":"tab_main","name":"Accumulate","func":"let energy = flow.get(\"energy\", \"persistent\");\nlet d = msg.delta;\n\nenergy.day.solar += d.solar;\nenergy.day.load += d.load;\nenergy.day.grid += d.grid;\n\nenergy.month.solar += d.solar;\nenergy.month.load += d.load;\nenergy.month.grid += d.grid;\n\nenergy.year.solar += d.solar;\nenergy.year.load += d.load;\nenergy.year.grid += d.grid;\n\nflow.set(\"energy\", energy, \"persistent\");\n\nmsg.energy = energy;\nreturn msg;","outputs":1,"x":970,"y":80,"wires":[["finance"]]},{"id":"finance","type":"function","z":"tab_main","name":"Finance Engine","func":"const price = Number(env.get(\"FIXED_IMPORT_PRICE\")) || 0;\n\nfunction calc(e){\n    const real = e.grid * price;\n    const theo = e.load * price;\n    return {\n        cost_real: real,\n        cost_theoretical: theo,\n        savings: theo - real\n    };\n}\n\nmsg.payload = {\n    day: calc(msg.energy.day),\n    month: calc(msg.energy.month),\n    year: calc(msg.energy.year),\n    energy: msg.energy\n};\n\nreturn msg;","outputs":1,"x":1160,"y":80,"wires":[["mqtt"]]},{"id":"mqtt","type":"mqtt out","z":"tab_main","name":"MQTT State","topic":"smart_energy_finance/state","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":1370,"y":80,"wires":[]}]